<div>
  <span class="badge">{{postObj.upvotes}}</span>
  <span class="glyphicon glyphicon-remove" confirm-click="deletePostFunc({ post: postObj})" confirm-msg="Are you sure you want to delete this post?"></span>
  <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotesFunc({ post: postObj})"></span>
  <span class="glyphicon glyphicon-comment"></span>
  <span class="title">{{postObj.title}}</span>
  <div class="comment">
    <form id="post-comment" ng-submit="postComment(postObj)">
      <input class="form-control" ng-model="commentBody" type="text" placeholder="comment....."/>
    </form>
    <ul ng-repeat="cmt in postObj.comments | reverse">
      <li>{{cmt.author}}: {{cmt.body}}</li>
    </ul>
  </div>
</div>
